
@{
    ViewBag.Title = "Pagina Web";
}

<div class="jumbotron">
    <h2 class="text-center" style="color:crimson; "> API WEB CON LA ARQUITECTURA REST   </h2>
    <h3 class="text-center">Puedes validar funcionamiento con postman o swagger</h3>
  

    <a href="https://www.redhat.com/es/topics/api/what-is-a-rest-api"><img src="~/Img/img_5fd52fd43f92a.png" alt="Api" class="img-rounded" width="96%" height="20%" /></a>
</div>
