
@{
    ViewBag.Title = "Pagina Web";
}

<div class="jumbotron">
    <h2 class="text-center" style="color:crimson; "> BIENVENIDO A MI APLICACION WEB </h2>
    <h4 class="text-center" style="color:cornflowerblue">Para visualizar mi aplicación debes autenticarte</h4>

    <a href="https://techlib.net/definition/aspnet.html"><img src="~/Img/Aplicacion-Web-Cabecera-702x336.png" alt="Entity" width="90%" /></a>
</div>
